sudo: required
language: generic

services:
  - docker

env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1


before_install:
  - openssl aes-256-cbc -K $encrypted_012b868e8caa_key -iv $encrypted_012b868e8caa_iv -in fiboapp-gcp-k8s.json.enc -out fiboapp-gcp-k8s.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file fiboapp-gcp-k8s.json
  - gcloud config set project fiboapp-gcp-k8s
  - gcloud config set compute/zone asia-southeast1-a
  - gcloud container cluster get-credentials fiboapp-new
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker build -t mhalkaaf/react-test -f ./client/Dockerfile.dev

script:
  - docker run -e CI=true mhalkaaf/react-test npm test

deploy:
  provider: script
  script: bash ./deploy.sh
  on:
    branch: master
  
